.strike{
    text-decoration: line-through;
    color: lightgray;
}


/* .invisible{
    visibility: hidden;
} */

.nodisplay{
    display:none;
    position:absolute;
    right:0px;
    top:0px;
}


li>div:hover>div>span{
    color: red;
    display:block;
}
li>div:hover>span>button{
    color: red;
    display:block;
}

li>div>div>span:hover{
    cursor: pointer;
}