<!doctype html>
<html lang="en" ng-app="ToDoApp">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="node_modules/parse/dist/parse.min.js"></script>

        <script>
        Parse.serverURL = 'https://parseapi.back4app.com'; // This is your Server URL
        Parse.initialize(
          '53dybNxQqWySd289HHFjZ9qFoiVvUS2LdL6FkdCq', // This is your Application ID
          'o5iq2w8rtI75SuZIB8SGclnccchq7gk3XTdi39pi' // This is your Javascript key
        );
        </script>    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-route.js"></script>
    <script src="script/app.js"></script>
    <script src="script/todoCtrl.js"></script>
    <script src="script/todoSrv.js"></script>
    <link rel="stylesheet" href="css/main.css">

</head>

<body>

    <div class="container" ng-controller="todoCtrl">
        <h1 class="display-2">ToDos</h1>
        <div class="form-group w-50">
            <input type="text" class="form-control" name="txtNextToDo" id="txtNextToDo" aria-describedby="helpId"
                placeholder="What's next" ng-model="nextToDo" ng-keypress="onEnter($event)">
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">&#x26a0; Warning!!!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body display-4">
                        &#x261d; Are you sure?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="removeUnFinishedTodoItem()">Ok</button>
                    </div>
                </div>
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="todoItem in todoList | filter: filterByFinished">
                <div class="form-check">

                    <label class="form-check-label" ng-class="{strike : todoItem.isFinished}">
                        <input type="checkbox" class="form-check-input" name="chkbToDo" value="checkedValue"
                            ng-model="todoItem.isFinished" ng-click="chkbIsFinished_click(todoItem)">
                        {{todoItem.getFullText()}}
                    </label>
                    <!-- <span class="nodisplay"><button type="button" data-toggle="modal" data-target="#modelId" class="btn" >&#x2718</button></span> -->
                    <div ng-switch on="todoItem.isFinished">
                        <span class="nodisplay" ng-switch-when="true" ng-click="remove(todoItem)">&#x2718</span>
                        <span class="nodisplay" ng-switch-when="false" data-toggle="modal"
                            data-target="#modelId" ng-click="deferredRemove(todoItem)">&#x2718</span>
                    </div>

                    <!-- ng-click="remove($index)" -->
                </div>

            </li>
        </ul>
       


        <div class="form-group clearfix mt-3">
            <div class="float-left">
                <label ng-show="todoList.length > 0">{{countOfNotFinished()}} item left</label>
            </div>
            <div class="float-right">
                <button type="button" class="btn btn-outline-primary active" id="All"
                    ng-click="btnFilterClick('All')" ng-class="{active:filterBy==='All'}">All</button>
                <button type="button" class="btn btn-outline-primary" id="Active"
                    ng-click="btnFilterClick('Active')" ng-class="{active:filterBy==='Active'}">Active</button>
                <button type="button" class="btn btn-outline-primary" id="Complited"
                    ng-click="btnFilterClick('Complited')"
                    ng-class="{active:filterBy==='Complited'}">Complited</button>
            </div>

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>